@model IEnumerable<LanchesMac.Models.Lanche>

@{
    ViewData["Title"] = "Todos os Lanches";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Novo Lanche</a>
</p>
<hr />
<p>Total Lanches: @ViewBag.TotalLanches</p>
@foreach (var item in Model)
{
    <div class="card col-md-4" style="width: 18rem;">
        <h4>@item.Nome</h4>
        <img src="@item.ImagemUrl" class="card-img-top" alt="@item.Nome">
        <h3>Preço : @item.Preco.ToString("c")</h3>
    </div>
}

<hr />
<p>@TempData["Nome"];</p>